// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#images {
  border-collapse: collapse;
  width: 100%;
}

#images td, #images th {
  border: 1px solid #ddd;
  padding: 8px;
}

#images tr:nth-child(even){background-color: #f2f2f2;}

#images tr:hover {background-color: #ddd;}

#images th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #434343;
  color: white;
}
